.button, button {

	padding: $gutter_y/2 $gutter_x;
	background: $maincolor;
	border: 2px solid $maincolor;
	display: inline-block;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none;

	&:visited {

		color: $white;

	}

	&:hover,
	&:active,
	&:focus {

		color: $maincolor;
		background: $white;

	}


	&--ghost {

		background: transparent;

		&:hover,
		&:active,
		&:focus {

			background-color: $maincolor;
			color: $white;

		}

	}


	&--white {

		border-color: $white;
		color: $white;
		background-color: transparent;

		&:hover,
		&:active,
		&:focus {

			color: $maincolor !important;
			background-color: $white;

		}

		&:visited {

			color: $white;

		}

	}

}
