.site-footer {

	@extend .band--large;
	@extend .band--secondary;
	background-image: url( 'https://raw.githubusercontent.com/wpaustralia/WCBNE18/master/src/img/brisbane-city.png' );
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 0 !important;

	.widget-title {

		@extend .h3;

	}

	a.button:hover {
		/* .band--secondary overrides this. */
		color: $maincolor !important;
	}
}



.site-info {

	margin-top: 4em;

}


[id^="footer-widgets"] {

	@extend .wrap;

}


.footer-widgets-block {

	@extend .g-one-half\@desk;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;
	width: 100%;

	@include mq( $bp_desk ) {

		&:nth-of-type( 2n ) {

			padding-left: 8.333%;

		}

	}

}


/*
*	Footer menu widget
*/
[id^="menu-site-map"] {

	margin-left: 0;
	list-style: none;
	column-count: 2;
	column-gap: 3em;
	column-width: 200px;


	li {

		padding-left: 0;

	}

}


[id^="footer-widget-2"] {

	.widget-title {

		@extend h6;
		border-bottom: 1px solid rgba( $white, .1 );
		margin-bottom: 1em;

	}


	a {

		text-decoration: none;

		&:hover {

			color: $maincolor !important;

		}

	}

}


#footer-widget {

	&-3,
	&-4 {

		.sprite {

			@include mq( $bp_desk ) {

				margin: 0 50px 50px 0;
				float: left;

			}

		}

		.button {

			padding: $gutter_y/4 $gutter_x/2;

		}

	}

	&-3 {

		@include mq( $bp_desk ) {

			padding-right: calc( 8.333% / 2 );

		}

	}

	&-4 {

		@include mq( $bp_desk ) {

			padding-left: calc( 8.333% / 2 );

		}

	}

	&-5 {

		width: 100%;
		padding-left: 0;

		img {

			border-radius: 10px;

		}

	}

}
