// Colours
$maincolor: #7c54bf;
$white: #fff;
$navy: #19293a;
$grey: #f4f4f4;
$dark-grey: #4a4a4a;
$navy: #19293a;
$darkblue: #111c27;
$lightblue: #19293a;
$gold: #C9AE5D;
$silver: #c0c0c0;
$bronze: #CD7F32;

// Hero component
$hero: url('https://i0.wp.com/2019.brisbane.wordcamp.org/files/2019/03/michael-415383-unsplash.jpg');
$hero_credit: 'Image courtesy of @michael75 on Unsplash';

// Sizes
$gutter_x: 3rem;
$gutter_y: 2rem;

// Main large breakpoint
$bp_desk: 992px;
$bp_wide: 1100px;
$bp_lap: 617px;


// Icons
$icon_width: 100px;
$icon_height: $icon_width;

$icon_num_cols: 2;
$icon_num_rows: 1;

$icon_sprite: url('https://i0.wp.com/raw.githubusercontent.com/dd32/WCBNE19/master/src/img/sprite.png');
$icon_sprite_width: $icon_width * $icon_num_cols;
$icon_sprite_height: $icon_height * $icon_num_rows;
